.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin-bottom: 5em;
}

.header {
  height: 5rem;
  width: 100vw;
}

.show_lang_menu {
  display: block;
  list-style: none;
}

.hide_lang_menu {
  display: none;
}

.language_menu_toggle,
.language_selector {
  cursor: pointer;
  border: none;
  background-color: white;
}

.language_selector {
  padding: 5px 5px;
}

.language_selector:hover {
  background-color: lightgray;
}

.fi {
  margin-right: 5px;
}

p {
  text-align: center;
}
